<h3>A continuación se muestra información sobre el autor de <%= title %></h3>
<h4>Autor: David Moreno Ros<h4>
<span><img src="./fragel.jpg" alt="Fragel" height="130"/><br></span>
<span><a href='/'>Volver</a></span>

